.change-password__title {
  width: 301px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 159px;
}

.change-password__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
