.profile__title {
  margin-top: 50px;
  margin-bottom: 175px;
}

.profile__button {
  width: 335px;
  height: 50px;
}

.profile__button--data {
  margin-bottom: 25px;
}

.profile__button--password {
  margin-bottom: 199px;
}

.profile__footer {
  display: flex;
  row-gap: 17px;
  flex-direction: column;
  align-items: center;
}

.profile__email {
  width: 334px;
  height: 25px;
}

.profile__logout {
  width: 120px;
  height: 33px;
  margin-bottom: 80px;
  cursor: pointer;
}
