.forgot-password__title {
  width: 301px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.forgot-password__info {
  width: 266px;
  height: 45px;
  margin-bottom: 30px;
}

.forgot-password__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
