.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 60px);
  overflow-y: auto;
  background: linear-gradient(191.08deg, #ffffff 8.17%, #def4f0 62.61%);
}
